<form method="post" action="/note/edit/{{note._id}}">
  <input name="title" value={{note.title}}>
  <textarea name="header">{{note.header}}</textarea>
  <textarea class="summernote" name="text">{{{note.text}}}</textarea>
  <button>Submit</button>
</form>